# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
/media/
SECRET_KEY = "django-insecure-ge9h^*v+fy#-i=b4t0m+a8vkp@ba2gf!$unwfl%9%)pj$oqjj+"

# Virtualenv
venv/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo