{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <title>Your's Collection</title>
  </head>

  <body>
    <nav class="header">
      <div class="logo">
        <div class="logo-icon">
          <a href="{% url 'home' %}">
            <svg
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9C6 12.3137 8.68629 15 12 15C15.3137 15 18 12.3137 18 9"
                stroke="rgba(205, 181, 153)"
                stroke-width="3"
                stroke-linecap="round"
              />
            </svg>
          </a>
        </div>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
      </ul>
    </nav>
    <div class="login-container">
      <form class="form" action="#" method="post">
        {% csrf_token %}
        <h2 class="profile_heading">WELCOME {{user.fname.capitalize}}!</h2>
        <p class="profile_content">Name: {{ user.fname }} {{ user.lname }}</p>
        <p class="profile_content">Email: {{ user.email }}</p>
      </form>
    </div>
    <!-- Footer  -->
    <footer class="footer" id="contact">
      <div class="footer-content">
        <div class="footer-brand">
          <div class="logo-icon small">
            <svg
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9C6 12.3137 8.68629 15 12 15C15.3137 15 18 12.3137 18 9"
                stroke="rgba(205, 181, 153)"
                stroke-width="3"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <h4 class="brand-name">YOUR'S COLLECTION.</h4>
          <p class="copyright">
            &copy; Copyright &reg; 2026. Your's Collection.
          </p>
        </div>
        <div class="footer-links">
          <h4>Quick links</h4>
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shipping</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Philosophy</h4>
          <ul>
            <li><a href="#products">Our Collection</a></li>
            <li><a href="#">Sustainability</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <div class="social-icon">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#4A3320"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </div>
          <div class="social-icon">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#4A3320"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
              ></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
          </div>
          <div class="social-icon">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#4A3320"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
              ></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
